.nav-bar {
	min-height: 6rem;
	background-color: rgba(55, 65, 87, 0.925);
	position: fixed;
	top: 0;
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	z-index: 1;
	font-size: 2rem;
	padding: 0 2rem;
	min-width: 100vw;
}

@media (min-width: 768px) {
	.nav-bar {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.logo {
	color: white;
	font-size: 2.4rem;
}

.logo span {
	color: chocolate;
}

.nav-bar a {
	transition: all 0.3s ease;
	color: rgb(253, 173, 0);
}

.nav-bar a:hover {
	color: rgb(255, 94, 0);
	text-decoration: underline;
}

.hero {
	height: 60rem;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.705)), url("https://images.unsplash.com/photo-1489089905289-5c91ae6e2544?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
	background-position: 0rem -60rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content_hero {
	width: 100rem;
	padding: 2rem;
}
.hero h1 {
	color: white;
	font-size: 7rem;
	font-weight: bolder;
}

.hero span {
	color: rgb(255, 94, 0);
	text-decoration: underline;
}

.hero p {
	color: white;
	font-size: 2rem;
}
