.card{
    max-width: 30rem;
    padding: 1rem;
    background-color: azure;
    border-radius: 1rem;
}

.img_container img {
    border-radius: 1rem;
}

.container_buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.cont_btn {
    background-color: rgb(20, 101, 177);
    padding: .5rem  1.5rem;
    border-radius: 1rem;
}

.container_buttons a {
    color: black;

}

.alerta {
    grid-column: 2;
}