html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	min-width: 100vw;
}

img {
	max-width: 100%;
	display: block;
}

a{
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}


.main_container {
	margin-top: 2rem;
	max-width: 120rem;
	margin: 0 auto;
}


